#welcomeText, #Title{
    -fx-font-size: 25px;
}

#enclosureName{
    -fx-font-size: 25px;
}

#creaturesTitle, #creaturesLabel{
    -fx-font-size: 20px;
}

#enclosureInfos{
    -fx-content-display: flex;
    -fx-wrap-text: wrap;
}

#creaturesName, #enclosureActions, #creaturesInfo, #menuBtn{
    -fx-padding: 10px;
}

Label{
    -fx-font-size: 15px;
}

Button{
    -fx-border-width: 2;
    -fx-background-radius: 0;
}