#welcomeText, #Title{
    -fx-font-size: 25px;
}

#enclosureName{
    -fx-font-size: 25px;
}

#creaturesTitle, #creatureLabel{
    -fx-font-size: 20px;
}

#enclosureInfos{
    -fx-content-display: flex;
    -fx-wrap-text: wrap;
}

#creaturesName, #enclosureActions, #creatureInfo, #menuBtn{
    -fx-padding: 10px;
}

Label{
    -fx-font-size: 15px;
}

Button{
    -fx-border-width: 2;
    -fx-background-radius: 0;
}

Gridpane{
    -fx-hgap: 20px;
    -fx-alignment: center;
}